section{
    margin-bottom: 2rem;
}

.blue-bg{
    background-color: #006cfa;
}

.row > *{
    background-color: #006cfa;
    color: white;
    padding: 1rem 0;
    text-align: center;
    border: 2px solid white;
}

.notext-section .row > *{
    padding: 1.5rem 0;
}

.green-bg{
    background-color: #01e165;
}

.col-6 .row{
    padding: 0 1rem;
}

.nested{
    border: 2px solid #006cfa;
}