.blue-bg{
    background-color: #006cfa;
}

.row > *{
    background-color: #006cfa;
    color: white;
    padding: 1rem 0;
    text-align: center;
    margin: 1px;
}

.green-bg{
    background-color: #01e165;
}

.col-6 .row{
    padding: 0 1rem;
}